In [5]:
#importing librabries
import pickle
import pandas as pd
from pathlib import Path

In [6]:
with open("Raw Json data/raw_data.pkl", "rb") as f:
    raw_data = pickle.load(f)

In [7]:
raw_data

{'calories':                  dateTime value               source_file    metric
 0       05/04/25 00:00:00  0.99  calories-2025-05-04.json  calories
 1       05/04/25 00:01:00  0.99  calories-2025-05-04.json  calories
 2       05/04/25 00:02:00  0.99  calories-2025-05-04.json  calories
 3       05/04/25 00:03:00  0.99  calories-2025-05-04.json  calories
 4       05/04/25 00:04:00  0.99  calories-2025-05-04.json  calories
 ...                   ...   ...                       ...       ...
 351177  01/02/26 20:57:00  0.99  calories-2025-12-30.json  calories
 351178  01/02/26 20:58:00  0.99  calories-2025-12-30.json  calories
 351179  01/02/26 20:59:00  0.99  calories-2025-12-30.json  calories
 351180  01/02/26 21:00:00  0.99  calories-2025-12-30.json  calories
 351181  01/02/26 21:01:00  0.99  calories-2025-12-30.json  calories

 [351182 rows x 4 columns],
 'distance':                 dateTime value               source_file    metric
 0      05/05/25 18:06:00    69  distance-2025-05-04.json  distance
 1      05/05/25 18:07:00   480  distance-2025-05-04.json  distance
 2      05/05/25 18:34:00   137  distance-2025-05-04.json  distance
 3      05/05/25 18:35:00  1028  distance-2025-05-04.json  distance
 4      05/05/25 19:20:00    69  distance-2025-05-04.json  distance
 ...                  ...   ...                       ...       ...
 44610  01/03/26 01:23:00   274  distance-2025-12-30.json  distance
 44611  01/03/26 01:25:00    69  distance-2025-12-30.json  distance
 44612  01/03/26 01:26:00   548  distance-2025-12-30.json  distance
 44613  01/03/26 01:27:00   548  distance-2025-12-30.json  distance
 44614  01/03/26 01:28:00   274  distance-2025-12-30.json  distance

 [44615 rows x 4 columns],
 'lightly_active_minutes':               dateTime value                             source_file  \
 0    05/04/25 00:00:00     0  lightly_active_minutes-2025-05-04.json
 1    05/05/25 00:00:00   138  lightly_active_minutes-2025-05-04.json
 2    05/06/25 00:00:00   161  lightly_active_minutes-2025-05-04.json
 3    05/07/25 00:00:00   169  lightly_active_minutes-2025-05-04.json
 4    05/08/25 00:00:00   239  lightly_active_minutes-2025-05-04.json
 ..                 ...   ...                                     ...
 265  01/24/26 00:00:00     0  lightly_active_minutes-2025-12-30.json
 266  01/25/26 00:00:00     0  lightly_active_minutes-2025-12-30.json
 267  01/26/26 00:00:00     0  lightly_active_minutes-2025-12-30.json
 268  01/27/26 00:00:00     0  lightly_active_minutes-2025-12-30.json
 269  01/28/26 00:00:00     0  lightly_active_minutes-2025-12-30.json

                      metric
 0    lightly_active_minutes
 1    lightly_active_minutes
 2    lightly_active_minutes
 3    lightly_active_minutes
 4    lightly_active_minutes
 ..                      ...
 265  lightly_active_minutes
 266  lightly_active_minutes
 267  lightly_active_minutes
 268  lightly_active_minutes
 269  lightly_active_minutes

 [270 rows x 4 columns],
 'moderately_active_minutes':               dateTime value                                source_file  \
 0    05/04/25 00:00:00     0  moderately_active_minutes-2025-05-04.json
 1    05/05/25 00:00:00     2  moderately_active_minutes-2025-05-04.json
 2    05/06/25 00:00:00     0  moderately_active_minutes-2025-05-04.json
 3    05/07/25 00:00:00     5  moderately_active_minutes-2025-05-04.json
 4    05/08/25 00:00:00     5  moderately_active_minutes-2025-05-04.json
 ..                 ...   ...                                        ...
 265  01/24/26 00:00:00     0  moderately_active_minutes-2025-12-30.json
 266  01/25/26 00:00:00     0  moderately_active_minutes-2025-12-30.json
 267  01/26/26 00:00:00     0  moderately_active_minutes-2025-12-30.json
 268  01/27/26 00:00:00     0  moderately_active_minutes-2025-12-30.json
 269  01/28/26 00:00:00     0  moderately_active_minutes-2025-12-30.json

                         metric
 0    moderately_active_minutes
 1    moderately_active_minutes
 2    moderately_active_minutes
 3    moderately_active_minutes
 4    moderately_active_minutes
 ..                         ...
 265  moderately_active_minutes
 266  moderately_active_minutes
 267  moderately_active_minutes
 268  moderately_active_minutes
 269  moderately_active_minutes

 [270 rows x 4 columns],
 'resting_heart_rate':               dateTime                                       value  \
 0    05/04/25 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 1    05/05/25 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 2    05/06/25 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 3    05/07/25 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 4    05/08/25 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 ..                 ...                                         ...
 360  04/29/26 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 361  04/30/26 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 362  05/01/26 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 363  05/02/26 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}
 364  05/03/26 00:00:00  {'date': None, 'value': 0.0, 'error': 0.0}

                             source_file              metric
 0    resting_heart_rate-2025-05-04.json  resting_heart_rate
 1    resting_heart_rate-2025-05-04.json  resting_heart_rate
 2    resting_heart_rate-2025-05-04.json  resting_heart_rate
 3    resting_heart_rate-2025-05-04.json  resting_heart_rate
 4    resting_heart_rate-2025-05-04.json  resting_heart_rate
 ..                                  ...                 ...
 360  resting_heart_rate-2025-05-04.json  resting_heart_rate
 361  resting_heart_rate-2025-05-04.json  resting_heart_rate
 362  resting_heart_rate-2025-05-04.json  resting_heart_rate
 363  resting_heart_rate-2025-05-04.json  resting_heart_rate
 364  resting_heart_rate-2025-05-04.json  resting_heart_rate

 [365 rows x 4 columns],
 'sedentary_minutes':               dateTime value                        source_file  \
 0    05/04/25 00:00:00  1440  sedentary_minutes-2025-05-04.json
 1    05/05/25 00:00:00  1288  sedentary_minutes-2025-05-04.json
 2    05/06/25 00:00:00  1279  sedentary_minutes-2025-05-04.json
 3    05/07/25 00:00:00  1258  sedentary_minutes-2025-05-04.json
 4    05/08/25 00:00:00  1194  sedentary_minutes-2025-05-04.json
 ..                 ...   ...                                ...
 265  01/24/26 00:00:00  1440  sedentary_minutes-2025-12-30.json
 266  01/25/26 00:00:00  1440  sedentary_minutes-2025-12-30.json
 267  01/26/26 00:00:00  1440  sedentary_minutes-2025-12-30.json
 268  01/27/26 00:00:00  1440  sedentary_minutes-2025-12-30.json
 269  01/28/26 00:00:00  1440  sedentary_minutes-2025-12-30.json

                 metric
 0    sedentary_minutes
 1    sedentary_minutes
 2    sedentary_minutes
 3    sedentary_minutes
 4    sedentary_minutes
 ..                 ...
 265  sedentary_minutes
 266  sedentary_minutes
 267  sedentary_minutes
 268  sedentary_minutes
 269  sedentary_minutes

 [270 rows x 4 columns],
 'steps':                 dateTime value            source_file metric
 0      05/05/25 18:06:00     1  steps-2025-05-04.json  steps
 1      05/05/25 18:07:00     7  steps-2025-05-04.json  steps
 2      05/05/25 18:34:00     2  steps-2025-05-04.json  steps
 3      05/05/25 18:35:00    15  steps-2025-05-04.json  steps
 4      05/05/25 19:20:00     1  steps-2025-05-04.json  steps
 ...                  ...   ...                    ...    ...
 44610  01/03/26 01:23:00     4  steps-2025-12-30.json  steps
 44611  01/03/26 01:25:00     1  steps-2025-12-30.json  steps
 44612  01/03/26 01:26:00     8  steps-2025-12-30.json  steps
 44613  01/03/26 01:27:00     8  steps-2025-12-30.json  steps
 44614  01/03/26 01:28:00     4  steps-2025-12-30.json  steps

 [44615 rows x 4 columns],
 'very_active_minutes':               dateTime value                          source_file  \
 0    05/04/25 00:00:00     0  very_active_minutes-2025-05-04.json
 1    05/05/25 00:00:00    12  very_active_minutes-2025-05-04.json
 2    05/06/25 00:00:00     0  very_active_minutes-2025-05-04.json
 3    05/07/25 00:00:00     8  very_active_minutes-2025-05-04.json
 4    05/08/25 00:00:00     2  very_active_minutes-2025-05-04.json
 ..                 ...   ...                                  ...
 265  01/24/26 00:00:00     0  very_active_minutes-2025-12-30.json
 266  01/25/26 00:00:00     0  very_active_minutes-2025-12-30.json
 267  01/26/26 00:00:00     0  very_active_minutes-2025-12-30.json
 268  01/27/26 00:00:00     0  very_active_minutes-2025-12-30.json
 269  01/28/26 00:00:00     0  very_active_minutes-2025-12-30.json

                   metric
 0    very_active_minutes
 1    very_active_minutes
 2    very_active_minutes
 3    very_active_minutes
 4    very_active_minutes
 ..                   ...
 265  very_active_minutes
 266  very_active_minutes
 267  very_active_minutes
 268  very_active_minutes
 269  very_active_minutes

 [270 rows x 4 columns]}

In [66]:
df = raw_data["very_active_minutes"].copy()

In [67]:
df.head()

,dateTime,value,source_file,metric
0,05/04/25 00:00:00,0,very_active_minutes-2025-05-04.json,very_active_minutes
1,05/05/25 00:00:00,12,very_active_minutes-2025-05-04.json,very_active_minutes
2,05/06/25 00:00:00,0,very_active_minutes-2025-05-04.json,very_active_minutes
3,05/07/25 00:00:00,8,very_active_minutes-2025-05-04.json,very_active_minutes
4,05/08/25 00:00:00,2,very_active_minutes-2025-05-04.json,very_active_minutes

In [68]:
df["dateTime"] = pd.to_datetime(df["dateTime"], errors = "coerce")

C:\Users\bisar\AppData\Local\Temp\ipykernel_5072\3795920924.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["dateTime"] = pd.to_datetime(df["dateTime"], errors = "coerce")

In [69]:
df["value"] = pd.to_numeric(df["value"], errors="coerce")

In [70]:
df = df.dropna(subset=["dateTime", "value"])

In [71]:
df = df.sort_values("dateTime").reset_index(drop=True)

In [72]:
df.head()

    dateTime  value                          source_file               metric
0 2025-05-04      0  very_active_minutes-2025-05-04.json  very_active_minutes
1 2025-05-05     12  very_active_minutes-2025-05-04.json  very_active_minutes
2 2025-05-06      0  very_active_minutes-2025-05-04.json  very_active_minutes
3 2025-05-07      8  very_active_minutes-2025-05-04.json  very_active_minutes
4 2025-05-08      2  very_active_minutes-2025-05-04.json  very_active_minutes

In [73]:
cleaned_data = {}
cleaned_data["very_active_minutes"] = df

In [74]:
cleaned_data["very_active_minutes"].to_parquet("C:/Users/bisar/My fitbit dashboard project/Cleaned/very_active_minutes.parquet", index=False)

In [75]:
cleaned_data["very_active_minutes"].to_csv("C:/Users/bisar/My fitbit dashboard project/Cleaned/very_active_minutes.csv", index=False)

In [76]:
df["value"].sum()

np.int64(1512)