In [1]:
import pandas as pd
from pathlib import Path

cleaned_path = Path("C:/Users/bisar/My fitbit dashboard project/Cleaned")

metrics = [
    "calories", "distance", "lightly_active_minutes", "moderately_active_minutes",
    "sedentary_minutes", "steps", "very_active_minutes"
]

cleaned_data = {}

for metric in metrics:
    cleaned_data[metric] = pd.read_parquet(cleaned_path / f"{metric}.parquet")

In [2]:
cleaned_data

{'calories':                   dateTime  value               source_file    metric
 0      2025-05-04 00:00:00   0.99  calories-2025-05-04.json  calories
 1      2025-05-04 00:01:00   0.99  calories-2025-05-04.json  calories
 2      2025-05-04 00:02:00   0.99  calories-2025-05-04.json  calories
 3      2025-05-04 00:03:00   0.99  calories-2025-05-04.json  calories
 4      2025-05-04 00:04:00   0.99  calories-2025-05-04.json  calories
 ...                    ...    ...                       ...       ...
 351177 2026-01-02 20:57:00   0.99  calories-2025-12-30.json  calories
 351178 2026-01-02 20:58:00   0.99  calories-2025-12-30.json  calories
 351179 2026-01-02 20:59:00   0.99  calories-2025-12-30.json  calories
 351180 2026-01-02 21:00:00   0.99  calories-2025-12-30.json  calories
 351181 2026-01-02 21:01:00   0.99  calories-2025-12-30.json  calories

 [351182 rows x 4 columns],
 'distance':                  dateTime  value               source_file    metric
 0     2025-05-05 18:06:00     69  distance-2025-05-04.json  distance
 1     2025-05-05 18:07:00    480  distance-2025-05-04.json  distance
 2     2025-05-05 18:34:00    137  distance-2025-05-04.json  distance
 3     2025-05-05 18:35:00   1028  distance-2025-05-04.json  distance
 4     2025-05-05 19:20:00     69  distance-2025-05-04.json  distance
 ...                   ...    ...                       ...       ...
 44610 2026-01-03 01:23:00    274  distance-2025-12-30.json  distance
 44611 2026-01-03 01:25:00     69  distance-2025-12-30.json  distance
 44612 2026-01-03 01:26:00    548  distance-2025-12-30.json  distance
 44613 2026-01-03 01:27:00    548  distance-2025-12-30.json  distance
 44614 2026-01-03 01:28:00    274  distance-2025-12-30.json  distance

 [44615 rows x 4 columns],
 'lightly_active_minutes':       dateTime  value                             source_file  \
 0   2025-05-04      0  lightly_active_minutes-2025-05-04.json
 1   2025-05-05    138  lightly_active_minutes-2025-05-04.json
 2   2025-05-06    161  lightly_active_minutes-2025-05-04.json
 3   2025-05-07    169  lightly_active_minutes-2025-05-04.json
 4   2025-05-08    239  lightly_active_minutes-2025-05-04.json
 ..         ...    ...                                     ...
 265 2026-01-24      0  lightly_active_minutes-2025-12-30.json
 266 2026-01-25      0  lightly_active_minutes-2025-12-30.json
 267 2026-01-26      0  lightly_active_minutes-2025-12-30.json
 268 2026-01-27      0  lightly_active_minutes-2025-12-30.json
 269 2026-01-28      0  lightly_active_minutes-2025-12-30.json

                      metric
 0    lightly_active_minutes
 1    lightly_active_minutes
 2    lightly_active_minutes
 3    lightly_active_minutes
 4    lightly_active_minutes
 ..                      ...
 265  lightly_active_minutes
 266  lightly_active_minutes
 267  lightly_active_minutes
 268  lightly_active_minutes
 269  lightly_active_minutes

 [270 rows x 4 columns],
 'moderately_active_minutes':       dateTime  value                                source_file  \
 0   2025-05-04      0  moderately_active_minutes-2025-05-04.json
 1   2025-05-05      2  moderately_active_minutes-2025-05-04.json
 2   2025-05-06      0  moderately_active_minutes-2025-05-04.json
 3   2025-05-07      5  moderately_active_minutes-2025-05-04.json
 4   2025-05-08      5  moderately_active_minutes-2025-05-04.json
 ..         ...    ...                                        ...
 265 2026-01-24      0  moderately_active_minutes-2025-12-30.json
 266 2026-01-25      0  moderately_active_minutes-2025-12-30.json
 267 2026-01-26      0  moderately_active_minutes-2025-12-30.json
 268 2026-01-27      0  moderately_active_minutes-2025-12-30.json
 269 2026-01-28      0  moderately_active_minutes-2025-12-30.json

                         metric
 0    moderately_active_minutes
 1    moderately_active_minutes
 2    moderately_active_minutes
 3    moderately_active_minutes
 4    moderately_active_minutes
 ..                         ...
 265  moderately_active_minutes
 266  moderately_active_minutes
 267  moderately_active_minutes
 268  moderately_active_minutes
 269  moderately_active_minutes

 [270 rows x 4 columns],
 'sedentary_minutes':       dateTime  value                        source_file             metric
 0   2025-05-04   1440  sedentary_minutes-2025-05-04.json  sedentary_minutes
 1   2025-05-05   1288  sedentary_minutes-2025-05-04.json  sedentary_minutes
 2   2025-05-06   1279  sedentary_minutes-2025-05-04.json  sedentary_minutes
 3   2025-05-07   1258  sedentary_minutes-2025-05-04.json  sedentary_minutes
 4   2025-05-08   1194  sedentary_minutes-2025-05-04.json  sedentary_minutes
 ..         ...    ...                                ...                ...
 265 2026-01-24   1440  sedentary_minutes-2025-12-30.json  sedentary_minutes
 266 2026-01-25   1440  sedentary_minutes-2025-12-30.json  sedentary_minutes
 267 2026-01-26   1440  sedentary_minutes-2025-12-30.json  sedentary_minutes
 268 2026-01-27   1440  sedentary_minutes-2025-12-30.json  sedentary_minutes
 269 2026-01-28   1440  sedentary_minutes-2025-12-30.json  sedentary_minutes

 [270 rows x 4 columns],
 'steps':                  dateTime  value            source_file metric
 0     2025-05-05 18:06:00      1  steps-2025-05-04.json  steps
 1     2025-05-05 18:07:00      7  steps-2025-05-04.json  steps
 2     2025-05-05 18:34:00      2  steps-2025-05-04.json  steps
 3     2025-05-05 18:35:00     15  steps-2025-05-04.json  steps
 4     2025-05-05 19:20:00      1  steps-2025-05-04.json  steps
 ...                   ...    ...                    ...    ...
 44610 2026-01-03 01:23:00      4  steps-2025-12-30.json  steps
 44611 2026-01-03 01:25:00      1  steps-2025-12-30.json  steps
 44612 2026-01-03 01:26:00      8  steps-2025-12-30.json  steps
 44613 2026-01-03 01:27:00      8  steps-2025-12-30.json  steps
 44614 2026-01-03 01:28:00      4  steps-2025-12-30.json  steps

 [44615 rows x 4 columns],
 'very_active_minutes':       dateTime  value                          source_file  \
 0   2025-05-04      0  very_active_minutes-2025-05-04.json
 1   2025-05-05     12  very_active_minutes-2025-05-04.json
 2   2025-05-06      0  very_active_minutes-2025-05-04.json
 3   2025-05-07      8  very_active_minutes-2025-05-04.json
 4   2025-05-08      2  very_active_minutes-2025-05-04.json
 ..         ...    ...                                  ...
 265 2026-01-24      0  very_active_minutes-2025-12-30.json
 266 2026-01-25      0  very_active_minutes-2025-12-30.json
 267 2026-01-26      0  very_active_minutes-2025-12-30.json
 268 2026-01-27      0  very_active_minutes-2025-12-30.json
 269 2026-01-28      0  very_active_minutes-2025-12-30.json

                   metric
 0    very_active_minutes
 1    very_active_minutes
 2    very_active_minutes
 3    very_active_minutes
 4    very_active_minutes
 ..                   ...
 265  very_active_minutes
 266  very_active_minutes
 267  very_active_minutes
 268  very_active_minutes
 269  very_active_minutes

 [270 rows x 4 columns]}

***Merging data into one table***

In [3]:
df_integrated = cleaned_data["calories"].copy()
df_integrated = df_integrated.rename(columns={"value": "calories"})

In [4]:
for metric in ["distance", "steps", "lightly_active_minutes", "moderately_active_minutes", "very_active_minutes", "sedentary_minutes"]:
    temp_df = cleaned_data[metric].copy()
    temp_df = temp_df.rename(columns={"value": metric})

    df_integrated = df_integrated.merge(temp_df[["dateTime", metric]], on="dateTime", how="left")

In [5]:
df_integrated.head()

,dateTime,calories,source_file,metric,distance,steps,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes
0,2025-05-04 00:00:00,0.99,calories-2025-05-04.json,calories,NaN,NaN,0.0,0.0,0.0,1440.0
1,2025-05-04 00:01:00,0.99,calories-2025-05-04.json,calories,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-04 00:02:00,0.99,calories-2025-05-04.json,calories,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-04 00:03:00,0.99,calories-2025-05-04.json,calories,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-04 00:04:00,0.99,calories-2025-05-04.json,calories,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_integrated.to_parquet("C:/Users/bisar/My fitbit dashboard project/Cleaned/df_integrated.parquet", index=False)
df_integrated.to_csv("C:/Users/bisar/My fitbit dashboard project/Cleaned/df_integrated.csv", index=False)

**Data Aggregation per day**

In [7]:
# Make a copy of integrated data
df_daily = df_integrated.copy()

# Extract date only
df_daily['date'] = df_daily['dateTime'].dt.date

# Define aggregation rules for each metric
agg_rules = {
    'calories': 'sum',
    'distance': 'sum',
    'steps': 'sum',
    'lightly_active_minutes': 'sum',
    'moderately_active_minutes': 'sum',
    'very_active_minutes': 'sum',
    'sedentary_minutes': 'sum'
}

# Apply aggregation
df_daily = df_daily.groupby('date').agg(agg_rules).reset_index()

# Check result
df_daily.head()

,date,calories,distance,steps,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes
0,2025-05-04,1425.60,0.0,0.0,0.0,0.0,0.0,1440.0
1,2025-05-05,1813.57,398600.0,3869.0,138.0,2.0,12.0,1288.0
2,2025-05-06,1778.81,175551.0,1864.0,161.0,0.0,0.0,1279.0
3,2025-05-07,1828.60,401850.0,4352.0,169.0,5.0,8.0,1258.0
4,2025-05-08,1909.28,319459.0,3477.0,239.0,5.0,2.0,1194.0

In [8]:
df_daily

,date,calories,distance,steps,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes
0,2025-05-04,1425.60,0.0,0.0,0.0,0.0,0.0,1440.0
1,2025-05-05,1813.57,398600.0,3869.0,138.0,2.0,12.0,1288.0
2,2025-05-06,1778.81,175551.0,1864.0,161.0,0.0,0.0,1279.0
3,2025-05-07,1828.60,401850.0,4352.0,169.0,5.0,8.0,1258.0
4,2025-05-08,1909.28,319459.0,3477.0,239.0,5.0,2.0,1194.0
...,...,...,...,...,...,...,...,...
239,2025-12-29,1751.28,186662.0,1979.0,129.0,6.0,14.0,1291.0
240,2025-12-30,1766.06,312437.0,3270.0,164.0,1.0,6.0,1269.0
241,2025-12-31,1813.65,555257.0,5977.0,128.0,15.0,12.0,1285.0
242,2026-01-01,1708.99,152043.0,1585.0,110.0,0.0,0.0,1330.0
243,2026-01-02,1412.46,315298.0,3069.0,70.0,0.0,0.0,1155.0

In [9]:
# Save as parquet
df_daily.to_parquet("C:/Users/bisar/My fitbit dashboard project/Daily Data/daily_aggregated.parquet", index=False)

# Optional: save as CSV too
df_daily.to_csv("C:/Users/bisar/My fitbit dashboard project/Daily Data/daily_aggregated.csv", index=False)