In [2]:
import pandas as pd

df = pd.read_parquet("C:/Users/bisar/My fitbit dashboard project/Daily Data/daily_aggregated.parquet")

In [3]:
df.head()

,date,calories,distance,steps,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes
0,2025-05-04,1425.60,0.0,0.0,0.0,0.0,0.0,1440.0
1,2025-05-05,1813.57,398600.0,3869.0,138.0,2.0,12.0,1288.0
2,2025-05-06,1778.81,175551.0,1864.0,161.0,0.0,0.0,1279.0
3,2025-05-07,1828.60,401850.0,4352.0,169.0,5.0,8.0,1258.0
4,2025-05-08,1909.28,319459.0,3477.0,239.0,5.0,2.0,1194.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       244 non-null    object
 1   calories                   244 non-null    float64
 2   distance                   244 non-null    float64
 3   steps                      244 non-null    float64
 4   lightly_active_minutes     244 non-null    float64
 5   moderately_active_minutes  244 non-null    float64
 6   very_active_minutes        244 non-null    float64
 7   sedentary_minutes          244 non-null    float64
dtypes: float64(7), object(1)
memory usage: 15.4+ KB

In [5]:
df["date"] = pd.to_datetime(df["date"])

In [6]:
df.dtypes

date                         datetime64[ns]
calories                            float64
distance                            float64
steps                               float64
lightly_active_minutes              float64
moderately_active_minutes           float64
very_active_minutes                 float64
sedentary_minutes                   float64
dtype: object

**Total Active Minutes**

In [7]:
df["total_active_minutes"] = (
    df["lightly_active_minutes"]
    + df["moderately_active_minutes"]
    + df["very_active_minutes"]
)

In [9]:
df[[
    "lightly_active_minutes",
    "moderately_active_minutes",
    "very_active_minutes",
    "total_active_minutes"
]].head()

,lightly_active_minutes,moderately_active_minutes,very_active_minutes,total_active_minutes
0,0.0,0.0,0.0,0.0
1,138.0,2.0,12.0,152.0
2,161.0,0.0,0.0,161.0
3,169.0,5.0,8.0,182.0
4,239.0,5.0,2.0,246.0

**Active vs Sedentary Ratio**

In [10]:
df["active_sedentary_ratio"] = df["total_active_minutes"] / df["sedentary_minutes"]

In [12]:
df[["total_active_minutes", "sedentary_minutes", "active_sedentary_ratio"]].head()

   total_active_minutes  sedentary_minutes  active_sedentary_ratio
0                   0.0             1440.0                0.000000
1                 152.0             1288.0                0.118012
2                 161.0             1279.0                0.125880
3                 182.0             1258.0                0.144674
4                 246.0             1194.0                0.206030

In [13]:
df["total_active_minutes"].max()

359.0

**combining calories, steps, distance into energy & movement KPIs.**

In [14]:
df[["date", "total_active_minutes", "sedentary_minutes", "active_sedentary_ratio"]].head()

        date  total_active_minutes  sedentary_minutes  active_sedentary_ratio
0 2025-05-04                   0.0             1440.0                0.000000
1 2025-05-05                 152.0             1288.0                0.118012
2 2025-05-06                 161.0             1279.0                0.125880
3 2025-05-07                 182.0             1258.0                0.144674
4 2025-05-08                 246.0             1194.0                0.206030

In [15]:
df["energy_movement_kpi"] = (
    (df["calories"] / df["calories"].max()) +
    (df["steps"] / df["steps"].max()) +
    (df["distance"] / df["distance"].max())
) / 3

In [16]:
df.head()

,date,calories,distance,steps,lightly_active_minutes,moderately_active_minutes,very_active_minutes,sedentary_minutes,total_active_minutes,active_sedentary_ratio,energy_movement_kpi
0,2025-05-04,1425.60,0.0,0.0,0.0,0.0,0.0,1440.0,0.0,0.000000,0.212161
1,2025-05-05,1813.57,398600.0,3869.0,138.0,2.0,12.0,1288.0,152.0,0.118012,0.518875
2,2025-05-06,1778.81,175551.0,1864.0,161.0,0.0,0.0,1279.0,161.0,0.125880,0.379481
3,2025-05-07,1828.60,401850.0,4352.0,169.0,5.0,8.0,1258.0,182.0,0.144674,0.537533
4,2025-05-08,1909.28,319459.0,3477.0,239.0,5.0,2.0,1194.0,246.0,0.206030,0.495677

In [17]:
df["energy_movement_kpi"].max()

0.9809886578771677

In [ ]:
df_daily.to_parquet("C:/Users/bisar/My fitbit dashboard project/Daily Data/daily_summary.parquet", index=False)
df_daily.to_csv("C:/Users/bisar/My fitbit dashboard project/Daily Data/daily_summary.csv", index=False)